nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ffffff;
}





#container{
    margin: 0;
    padding: 0;
}
#box1{
    height: 100px;
    width: 10%;
    float: left;

}
#box2{
    height: 100px;
    width: 90%;
    float: right;
}
.block2{
    height: 500px;
    width: 100%;
    float: left;
    
}
.block3{
    height: 20px;
    width: 100%;
    float: left;
    
}
.block4{
    height: 400px;
    width: 100%;
    float: left;
    
}






.image1{
    height: 100px;
    width: 100%;   
}
.image2{
    height:500px;
    width: 100%;
}




.block2 {
    position: relative; /* Để đặt các phần tử con có vị trí tương đối */
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Căn giữa văn bản */
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Tạo bóng chữ */
}

.description {
    position: absolute;
    bottom: 20px;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
}










.card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 20%; /* Điều chỉnh độ rộng của mỗi thẻ */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .card img {
    width: 100%;
    height: 150px; /* Điều chỉnh chiều cao hình ảnh */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    background-color: #00bcd4;
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }